version: "3.9"

services:
  cardano-node:
    image: inputoutput/cardano-node:latest
    volumes:
      - ./devnet:/data
    environment:
      - CARDANO_BLOCK_PRODUCER=true
      - CARDANO_SOCKET_PATH=/data/ipc/node.socket # used by cardano-node
      - CARDANO_NODE_SOCKET_PATH=/data/ipc/node.socket # used by cardano-cli
    command:
      [ "run"
      , "--config", "/data/cardano-node.json"
      , "--topology", "/data/topology.json"
      , "--database-path", "/data/db"
      , "--shelley-kes-key", "/data/kes.skey"
      , "--shelley-vrf-key", "/data/vrf.skey"
      , "--shelley-operational-certificate", "/data/opcert.cert"
      , "--byron-delegation-certificate", "/data/byron-delegation.cert"
      , "--byron-signing-key", "/data/byron-delegate.key"
      ]

  hydra-node-1:
    image: ghcr.io/input-output-hk/hydra-node:latest
    build:
      context: ../
      target: hydra-node
    profiles:
      - hydra-node
    volumes:
      - .:/keys:ro
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc:/ipc
      - ./devnet:/config
    ports:
      - "4001:4001"
    command:
      [ "--node-id", "1"
      , "--api-host", "0.0.0.0"
      , "--host", "172.16.238.10"
      , "--monitoring-port", "6001"
      , "--peer", "hydra-node-2:5001"
      , "--peer", "hydra-node-3:5001"
      , "--hydra-scripts-tx-id", "${HYDRA_SCRIPTS_TX_ID}"
      , "--hydra-signing-key", "/keys/alice.sk"
      , "--hydra-verification-key", "/keys/bob.vk"
      , "--hydra-verification-key", "/keys/carol.vk"
      , "--cardano-signing-key", "/credentials/alice.sk"
      , "--cardano-verification-key", "/credentials/bob.vk"
      , "--cardano-verification-key", "/credentials/carol.vk"
      , "--ledger-genesis", "/config/genesis-shelley.json"
      , "--ledger-protocol-parameters", "/config/protocol-parameters.json"
      , "--network-id", "42"
      , "--node-socket", "/ipc/node.socket"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.10
    restart: always

  hydra-node-2:
    image: ghcr.io/input-output-hk/hydra-node:latest
    build:
      context: ../
      target: hydra-node
    profiles:
      - hydra-node
    volumes:
      - .:/keys:ro
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc:/ipc
      - ./devnet:/config
    ports:
      - "4002:4001"
    command:
      [ "--node-id", "2"
      , "--api-host", "0.0.0.0"
      , "--host", "172.16.238.20"
      , "--monitoring-port", "6001"
      , "--peer", "hydra-node-1:5001"
      , "--peer", "hydra-node-3:5001"
      , "--hydra-scripts-tx-id", "${HYDRA_SCRIPTS_TX_ID}"
      , "--hydra-signing-key", "/keys/bob.sk"
      , "--hydra-verification-key", "/keys/alice.vk"
      , "--hydra-verification-key", "/keys/carol.vk"
      , "--cardano-signing-key", "/credentials/bob.sk"
      , "--cardano-verification-key", "/credentials/alice.vk"
      , "--cardano-verification-key", "/credentials/carol.vk"
      , "--ledger-genesis", "/config/genesis-shelley.json"
      , "--ledger-protocol-parameters", "/config/protocol-parameters.json"
      , "--network-id", "42"
      , "--node-socket", "/ipc/node.socket"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.20
    restart: always

  hydra-node-3:
    image: ghcr.io/input-output-hk/hydra-node:latest
    build:
      context: ../
      target: hydra-node
    profiles:
      - hydra-node
    volumes:
      - .:/keys:ro
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc:/ipc
      - ./devnet:/config
    ports:
      - "4003:4001"
    command:
      [ "--node-id", "3"
      , "--api-host", "0.0.0.0"
      , "--host", "172.16.238.30"
      , "--monitoring-port", "6001"
      , "--peer", "hydra-node-1:5001"
      , "--peer", "hydra-node-2:5001"
      , "--hydra-scripts-tx-id", "${HYDRA_SCRIPTS_TX_ID}"
      , "--hydra-signing-key", "/keys/carol.sk"
      , "--hydra-verification-key", "/keys/alice.vk"
      , "--hydra-verification-key", "/keys/bob.vk"
      , "--cardano-signing-key", "/credentials/carol.sk"
      , "--cardano-verification-key", "/credentials/alice.vk"
      , "--cardano-verification-key", "/credentials/bob.vk"
      , "--ledger-genesis", "/config/genesis-shelley.json"
      , "--ledger-protocol-parameters", "/config/protocol-parameters.json"
      , "--network-id", "42"
      , "--node-socket", "/ipc/node.socket"
      ]
    networks:
      hydra_net:
        ipv4_address: 172.16.238.30
    restart: always

  hydra-tui-1:
    image: ghcr.io/input-output-hk/hydra-tui:latest
    build:
       context: ../
       target: hydra-tui
    profiles:
      - tui
    command:
      [ "--connect", "172.16.238.10:4001"
      , "--node-socket", "/ipc/node.socket"
      , "--network-id", "42"
      , "--cardano-signing-key", "/credentials/alice.sk"
      ]
    volumes:
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc/:/ipc
    networks:
      hydra_net:
        ipv4_address: 172.16.238.11

  hydra-tui-2:
    image: ghcr.io/input-output-hk/hydra-tui:latest
    build:
       context: ../
       target: hydra-tui
    profiles:
      - tui
    command:
      [ "--connect", "172.16.238.20:4001"
      , "--node-socket", "/ipc/node.socket"
      , "--network-id", "42"
      , "--cardano-signing-key", "/credentials/bob.sk"
      ]
    volumes:
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc/:/ipc
    networks:
      hydra_net:
        ipv4_address: 172.16.238.21

  hydra-tui-3:
    image: ghcr.io/input-output-hk/hydra-tui:latest
    build:
       context: ../
       target: hydra-tui
    profiles:
      - tui
    command:
      [ "--connect", "172.16.238.30:4001"
      , "--node-socket", "/ipc/node.socket"
      , "--network-id", "42"
      , "--cardano-signing-key", "/credentials/carol.sk"
      ]
    volumes:
      - ./devnet/credentials:/credentials:ro
      - ./devnet/ipc/:/ipc
    networks:
      hydra_net:
        ipv4_address: 172.16.238.31

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      hydra_net:
        ipv4_address: 172.16.238.5


networks:
  hydra_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
