name: "CI"
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
      with:
        repository: input-output-hk/hydra-poc
        token: ${{ secrets.MY_TOKEN || github.token }}
    - uses: cachix/install-nix-action@v13
      with:
        skip_adding_nixpkgs_channel: true
        install_options: '--no-daemon'
        extra_nix_config: |
          trusted-public-keys = iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
          substituters = https://cache.nixos.org https://hydra.iohk.io https://iohk.cachix.org
    - uses: cachix/cachix-action@v10
      with:
        name: hydra-node
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - uses: actions/cache@v2.1.5
      name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          dist-newstyle
        key: ${{ runner.os }}-${{ hashFiles('cabal.project') }}
        restore-keys: |
            ${{ runner.os }}-key

    - run: nix-shell --run 'build-ci.sh'
      env:
        TERM: "xterm"

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      with:
        files: ./**/test-results.xml

    - uses: peaceiris/actions-gh-pages@v3
      name: Publish Documentation
      if: github.event_name == 'push'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN || github.token }}
        publish_dir: docs
        enable_jekyll: true
